:root {
    --font-small: 13px;
    --font-size: 15px;
    --font-title: 17px;
    --font-h2: 20px;
    --font-header:24px;
}

/* Responsiveness on Variables */
@media (min-width: 481px)  { 
   :root {
       --font-small: 15px;
       --font-size: 18px;
       --font-title: 20px;
       --font-h2: 23px;
       --font-header:28px;
   }
}
@media (min-width: 1024px) { 
   :root {
       --font-small: 17px;
       --font-size: 21px;
       --font-title: 23px;
       --font-h2: 26px;
       --font-header:32px;
   }
}
@media (min-width: 1440px) { 
   :root { 
       --font-small: 19px;
       --font-size: 24px; 
       --font-title: 26px;
       --font-h2: 29px;
        --font-header:36px;
   }
}

.lego-card {
    position: relative;
    aspect-ratio:2 / 3;
}

.lego-card .content-thumb {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.lego-card .content-info {
    position: relative;
    z-index: 2;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.lego-card .content-description {
    //*order: -1;*/
    margin: 0;
    font-size: var(--font-size);
    font-weight: 400;
    /*letter-spacing: .12em;*/
    text-transform: none;
    color: #333333;
}

.lego-card .content-title {
    font-size: var(--font-title);
    line-height: 1.25;
}

.lego-card .content-btn {
    width: max-content;
    align-self: center;
    border-radius: 8px;
    padding: 8px 16px !important;
    margin-top: 0;
    /* background: #0076DF; */
    background: #008000;
    color: #ffffff;
    border: none;
    font-size: var(--font-small);
}


.container{
    max-width:768px;
    margin:0 auto;
    padding:0px 0px 24px;
    background:#f4f7fb;
}

section{
    margin-bottom:0px;
}

.lego-header{
    position:sticky;
    top:0;
    z-index:100;
    background:var(--primary);
    color:#fff;
    padding:16px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.lego-back-btn{
    border:none;
    background:transparent;
    color:#fff;
    width:40px;
    height:40px;
    font-size:22px;
    cursor:pointer;
}

.lego-preview{
    margin-top:0px;
}
.preview-slider{
    position:relative;
    width:100%;
    aspect-ratio:16/11;
    overflow:hidden;
}
.preview-image{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transition:.3s;
}
.preview-image.active{
    opacity:1;
}
.preview-dots{
    display:flex;
    justify-content:center;
    gap:8px;
    margin:12px 0 24px;
}
.preview-dot{
    width:6px;
    height:6px;
    border-radius:50%;
    background:#d0d0d0;
}
.preview-dot.active{
    background:var(--primary);
}
.lego-info{
    text-align:left;
    margin: 0 24px;
}
#ebook-title{
    margin:0;
    font-size: var(--font-title);
    line-height:1.3;
    font-weight:700;
}
.ebook-price{
    margin:12px 0 22px;
    font-size: var(--font-h2);
    font-weight:700;
    color:#008000;
}
#buyButton{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    border-radius:12px;
    margin-bottom:12px;
}
.lego-consent{
    padding:6px 0 12px;
    font-size:13px;
    line-height:1.3;
    color:#555;
}
.lego-description,
.lego-meta,
.lego-payment{
    padding:12px 24px;
}
.lego-description h3,
.lego-meta h3,
.lego-payment h3{
    margin:0 0 12px;
    font-size: var(--font-size);
    font-weight:700;
}
.lego-payment h3 {text-align:center;}
.lego-description p,
.lego-meta p{
    line-height:1.3;
    color:#555;
   padding-bottom:6px;
}
.lego-payment img{
    display:block;
    width:80%;
    max-width:450px;
    margin:auto;
}
.iframe-lightbox iframe {
    display: block;
    width: 80%!important;
    height: 90%!important;
    border-radius:12px!important;
    margin: 0 auto;
    box-shadow: .267rem .267rem .267rem 0 rgba(3, 3, 3, .3);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    background-image: url(https://pub-c54bc29….r2.dev/button_bar.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    padding-top: 4px;
}
.lego-action{
   display:flex;
   gap:24px;
   margin-bottom:6px;
}
.lrgo-action .btn{
   flex:1;
   height:50px;
   display:flex;
   align-items:center;
   justify-content:center;
   text-decoration:none;
}
.pdf-overlay{
   position:fixed;
   inset:0;
   background:rgba(0,0,0,.75);
   display:flex;
   align-items:center;
   justify-content:center;
   z-index:9999;
}

.pdf-modal{
   position:relative;
   width:min(95vw,900px);
   height:min(90vh,900px);
   background:#fff;
   border-radius:16px;
   overflow:hidden;
}

.pdf-modal iframe{
   width:100%;
   height:100%;
   border:0;
}

.pdf-close{
   position:absolute;
   top:10px;
   right:10px;
   width:40px;
   height:40px;
   border:none;
   border-radius:50%;
   background:#fff;
    font-size: var(--font-title);
   cursor:pointer;
   z-index:10;
}

.lego-title-box {
    flex: 1;
    text-align: center;
}

.ebook-title-box h2, #ebook-judul{
    font-size: var(--font-title);
}
/* ===========================
   MOBILE
=========================== */

@media(max-width:767px){
   .ebook-action{
    display: flex;
    gap: 24px;
    margin-bottom: 6px;
   }
}

@media(max-width:768px){
   .container{
      padding: 0px 0px 24px;
   }

   .ebook-price{
     color: #008000;
   }
   .preview-slider{
      aspect-ratio:16/11;
   }
}
